body {
    padding-top: 70px;
    margin: 0;
    border: 0;
    font-size: 100%;
    color: black;
    vertical-align: baseline;
}

/* more
 */
nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    width: 100%;
    background-color: rgba(247, 252, 251, 0.87);
    margin-left: auto;
    margin-right: auto;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: inherit;
    text-decoration: none;
}

.container-fluid {
    /* display: flex;
    justify-content: center; */
    line-height: 70px;
    background-color: rgba(156, 149, 149, 0);
    width: 95%;
    max-width: 1100px;
}

@media screen and (max-width: 992px) {
    body {
        padding-top: 60px;
    }
    .container-fluid {
        /* display: flex;
    justify-content: center; */
        line-height: 60px;
        background-color: rgba(156, 149, 149, 0);
        width: 95%;
    }
    .dropdoen-menu {
        position: fixed;
        top: -60px;
        right: -500%;
        width: 200px;
        height: 100%;
        background-color: rgb(255, 255, 255);
    }
    /* .sidebar-collapse {
        display: flex;
    } */
    /* .navbar-collapse {
        position: fixed;
        top: 60px;
        right: -500%;
        width: 200px;
        height: 100%;
        background-color: rgb(255, 255, 255);
    }

    .navbar-toggler::after {
        border: 0px;
    } */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.row {
    width: 90%;
}

.dropdown-item:hover {
    background-color: rgb(209, 209, 209);
}

.dropdown-item:active {
    background-color: rgb(104, 104, 104);
}
