<div class="bottom-bg d-flex">

  <div class="row p-0 m-0 align-items-center">
    <div class="col-12 col-md-4 py-5 py-md-0 ps-5">
      <div class="col-12 title pb-2">
        <h1>推薦網站</h1>
      </div>
      <div class="col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="https://www.booking.com/index.zh-tw.html" target=_blank><img
                src="https://cf.bstatic.com/static/img/tfl/group_logos/logo_booking/27c8d1832de6a3123b6ee45b59ae2f81b0d9d0d0.png"
                alt=""></a></li>
          <li class="list-group-item"><a href="https://www.agoda.com/?cid=1844104" target=_blank><img
                src="https://cdn6.agoda.net/images/kite-js/logo/agoda/color-default.svg" alt=""></a></li>
          <li class="list-group-item"><a href="https://www.trivago.com.tw/" target=_blank><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Trivago.svg/800px-Trivago.svg.png"
                alt=""></a></li>
        </ul>
      </div>
    </div>



    <div class="col-12 col-md-4 py-5 py-md-0 ps-5">
      <div class="col-12 title">
        <h1>合作商家</h1>
      </div>
      <div class="col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="#">好好用科技</a></li>
          <li class="list-group-item"><a href="#">真舒服寢具批發訂製</a></li>
          <li class="list-group-item"><a href="#">汰溫腥旅行社</a></li>
          <li class="list-group-item"><a href="#">不墜機航空公司</a></li>
        </ul>
      </div>
    </div>




    <div class="col-12 col-md-4 py-5 py-md-0 ps-5">
      <div class="col-12 title">
        <h1>更多資訊</h1>
      </div>
      <div class="col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="https://www.1111.com.tw/">徵才資訊</a></li>
          <li class="list-group-item"><a href="https://eshop.cht.com.tw/Web/Personal/site/contact">客服支援</a></li>
          <li class="list-group-item"><a href="https://ncsd.ndc.gov.tw/Fore/AboutSDG">永續發展</a></li>
          <li class="list-group-item"><a href="https://law.moj.gov.tw/LawClass/LawAll.aspx?PCode=I0050021">隱私權和 Cookie
              聲明</a></li>
        </ul>
      </div>

    </div>
  </div>


</div>
</div>
